## Dữ liệu

In [ ]:
# raw data without 2 predict columns
!wget https://github.com/thanggnguyenn/data-for-everything/raw/main/credit_card_churn_20_cols.csv

--2023-05-18 07:12:31--  https://github.com/thanggnguyenn/data-for-everything/raw/main/credit_card_churn_20_cols.csv
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/thanggnguyenn/data-for-everything/main/credit_card_churn_20_cols.csv [following]
--2023-05-18 07:12:31--  https://raw.githubusercontent.com/thanggnguyenn/data-for-everything/main/credit_card_churn_20_cols.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1254688 (1.2M) [text/plain]
Saving to: ‘credit_card_churn_20_cols.csv’

credit_card_churn_2 100%[===================>]   1.20M  --.-KB/s    in 0.04s

2023-05-18 07:12:32 (29.5 MB/s) - ‘credit_card_churn_20_cols.csv’ saved [1254688/1254688]

## Thư viện

In [ ]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.1-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.9/81.9 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (1.5.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.10/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.1)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.1

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from category_encoders import MEstimateEncoder

## Tải dữ liệu

In [ ]:
data = pd.read_csv("credit_card_churn_20_cols.csv",index_col="CLIENTNUM")
data.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [ ]:
data1 = data.copy()

## Dữ liệu số

In [ ]:
num_cols = data.select_dtypes(include=np.number).columns
num_cols

Index(['Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [ ]:
(data[num_cols] >= 0).sum()

Customer_Age                10127
Dependent_count             10127
Months_on_book              10127
Total_Relationship_Count    10127
Months_Inactive_12_mon      10127
Contacts_Count_12_mon       10127
Credit_Limit                10127
Total_Revolving_Bal         10127
Avg_Open_To_Buy             10127
Total_Amt_Chng_Q4_Q1        10127
Total_Trans_Amt             10127
Total_Trans_Ct              10127
Total_Ct_Chng_Q4_Q1         10127
Avg_Utilization_Ratio       10127
dtype: int64

In [ ]:
# Áp dụng MinMaxScaler cho thuộc tính số
scaler = MinMaxScaler()

scaler.fit(data[num_cols])

scaled_num_arr = scaler.transform(data[num_cols])

In [ ]:
scaled_num_df = pd.DataFrame(scaled_num_arr,columns=num_cols,index=data.index)
scaled_num_df

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,
768805383,0.404255,0.6,0.604651,0.8,0.166667,0.500000,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061
818770008,0.489362,1.0,0.720930,1.0,0.166667,0.333333,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105
713982108,0.531915,0.6,0.534884,0.6,0.166667,0.000000,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000
769911858,0.297872,0.8,0.488372,0.4,0.666667,0.166667,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761
709106358,0.297872,0.6,0.186047,0.8,0.166667,0.000000,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,0.510638,0.4,0.627907,0.4,0.333333,0.500000,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462
710638233,0.319149,0.4,0.279070,0.6,0.333333,0.500000,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512
716506083,0.382979,0.2,0.534884,0.8,0.500000,0.666667,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000
717406983,0.085106,0.4,0.534884,0.6,0.500000,0.500000,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000
714337233,0.361702,0.4,0.279070,1.0,0.333333,0.666667,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189

## Dữ liệu phân loại

In [ ]:
target = "Attrition_Flag"

cate_cols = data.select_dtypes(exclude=np.number).columns
cate_cols = cate_cols.drop(target)

In [ ]:
cate_cols

Index(['Gender', 'Education_Level', 'Marital_Status', 'Income_Category',
       'Card_Category'],
      dtype='object')

In [ ]:
for col in cate_cols:
  print(col)
  print(data[col].value_counts())
  print("----------")

Gender
F    5358
M    4769
Name: Gender, dtype: int64
----------
Education_Level
Graduate         3128
High School      2013
Unknown          1519
Uneducated       1487
College          1013
Post-Graduate     516
Doctorate         451
Name: Education_Level, dtype: int64
----------
Marital_Status
Married     4687
Single      3943
Unknown      749
Divorced     748
Name: Marital_Status, dtype: int64
----------
Income_Category
Less than $40K    3561
$40K - $60K       1790
$80K - $120K      1535
$60K - $80K       1402
Unknown           1112
$120K +            727
Name: Income_Category, dtype: int64
----------
Card_Category
Blue        9436
Silver       555
Gold         116
Platinum      20
Name: Card_Category, dtype: int64
----------

Áp dụng target encoding cho Educaction_Level, Income_Category, Marital_Status do những cột này có nhiều giá trị khác nhau.

## Hàm mapping cho thuộc tính phân loại

In [ ]:
def gender_map(s):
  if s == 'M':
    s = -1
  else:
    s = 1
  return s

In [ ]:
def education_lev_map(s):
  if s == "Unknown":
    s = -1
  elif s == "Uneducated":
    s = 0
  elif s == "High School":
    s = 1
  elif s == "College":
    s = 2
  elif s == "Graduate":
    s = 3
  elif s == "Post-Graduate":
    s = 4
  else:
    s = 5
  return s

In [ ]:
def marital_status_map(s):
  if s == "Unknown":
    s = -1
  elif s == "Single":
    s = 0
  elif s == "Married":
    s = 1
  else:
    s = 2
  return s

In [ ]:
def cate_income_map(s):
  if s == "Unknown":
    s = -1
  elif s == 'Less than $40K':
    s = 0
  elif s == '$40K - $60K':
    s = 1
  elif s == '$60K - $80K':
    s = 2
  elif s == '$80K - $120K':
    s = 3
  else:
    s = 4
  return s

In [ ]:
def card_map(s):
  if s == "Blue":
    s = 1
  elif s == "Silver":
    s = 2
  elif s == "Gold":
    s = 3
  else:
    s = 4
  return s

In [ ]:
def target_map(s):
  if s == "Existing Customer":
    s = 0
  else:
    s = 1
  return s

## Sử dụng hàm mapping vào thuộc tính phân loại

In [ ]:
data['Gender'] = data['Gender'].apply(gender_map)
data["Education_Level"] = data["Education_Level"].apply(education_lev_map)
data["Marital_Status"] = data["Marital_Status"].apply(marital_status_map)
data["Income_Category"] = data["Income_Category"].apply(cate_income_map)
data["Card_Category"] = data["Card_Category"].apply(card_map)
data["Attrition_Flag"] = data["Attrition_Flag"].apply(target_map)

In [ ]:
data

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
768805383,0,45,-1,3,1,1,2,1,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
818770008,0,49,1,5,3,0,0,1,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
713982108,0,51,-1,3,3,1,3,1,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
769911858,0,40,1,4,1,-1,0,1,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
709106358,0,40,-1,3,0,1,2,1,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,0,50,-1,2,3,0,1,1,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
710638233,1,41,-1,2,-1,2,1,1,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
716506083,1,44,1,1,1,1,0,1,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
717406983,1,30,-1,2,3,-1,1,1,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
714337233,1,43,1,2,3,1,0,2,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [ ]:
scaled_num_df['Gender'] = data['Gender'].copy()
scaled_num_df["Education_Level"] = data["Education_Level"].copy()
scaled_num_df["Marital_Status"] = data["Marital_Status"].copy()
scaled_num_df["Income_Category"] = data["Income_Category"].copy()
scaled_num_df["Card_Category"] = data["Card_Category"].copy()
scaled_num_df["Attrition_Flag"] = data["Attrition_Flag"].copy()

In [ ]:
scaled_num_df

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender,Education_Level,Marital_Status,Income_Category,Card_Category,Attrition_Flag
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
768805383,0.404255,0.6,0.604651,0.8,0.166667,0.500000,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061,-1,1,1,2,1,0
818770008,0.489362,1.0,0.720930,1.0,0.166667,0.333333,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105,1,3,0,0,1,0
713982108,0.531915,0.6,0.534884,0.6,0.166667,0.000000,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000,-1,3,1,3,1,0
769911858,0.297872,0.8,0.488372,0.4,0.666667,0.166667,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761,1,1,-1,0,1,0
709106358,0.297872,0.6,0.186047,0.8,0.166667,0.000000,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000,-1,0,1,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,0.510638,0.4,0.627907,0.4,0.333333,0.500000,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462,-1,3,0,1,1,0
710638233,0.319149,0.4,0.279070,0.6,0.333333,0.500000,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512,-1,-1,2,1,1,1
716506083,0.382979,0.2,0.534884,0.8,0.500000,0.666667,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000,1,1,1,0,1,1
717406983,0.085106,0.4,0.534884,0.6,0.500000,0.500000,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000,-1,3,-1,1,1,1
714337233,0.361702,0.4,0.279070,1.0,0.333333,0.666667,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189,1,3,1,0,2,1

In [ ]:
data.to_csv("credit_card_churn_category_encoded.csv")
scaled_num_df.to_csv("credit_card_churn_min_max_scale_catgory_encoded.csv")

## Target Encoding

Tạo file dữ liệu có các thuộc tính được áp dụng target encoding

In [ ]:
encoder = MEstimateEncoder(cols=["Education_Level", "Income_Category", "Marital_Status"], m = 5)

target_encode_df = encoder.fit_transform(data1[["Education_Level", "Income_Category", "Marital_Status"]],data[target])

In [ ]:
data["Education_Level"] = target_encode_df["Education_Level"]
data["Income_Category"] = target_encode_df["Income_Category"]
data["Marital_Status"] = target_encode_df["Marital_Status"]

scaled_num_df["Education_Level"] = target_encode_df["Education_Level"]
scaled_num_df["Income_Category"] = target_encode_df["Income_Category"]
scaled_num_df["Marital_Status"] = target_encode_df["Marital_Status"]

In [ ]:
data.to_csv("credit_card_churn_category_encoded_target.csv")
scaled_num_df.to_csv("credit_card_churn_min_max_scale_catgory_encoded_target.csv")

Sau khi đã thực hiện việc phân tích lựa trích xuất đặc trưng, nhóm tiến hành lưu file dữ liệu để đưa vào mô hình.

In [ ]:
scaled_num_df.drop(["Card_Category", "Income_Category", "Gender", "Months_on_book", "Marital_Status", "Dependent_count", "Education_Level"],\
           axis=1,inplace=True)
data["Amt_per_Trans"] = data["Total_Trans_Amt"] / data["Total_Trans_Ct"]

scaler = MinMaxScaler()

scaled_num_df["Amt_per_Trans"] = scaler.fit_transform(data["Amt_per_Trans"].to_numpy().reshape((-1,1)))

In [ ]:
scaled_num_df

,Customer_Age,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag,Amt_per_Trans
CLIENTNUM,,,,,,,,,,,,,,
768805383,0.404255,0.8,0.166667,0.500000,0.340190,0.308701,0.345116,0.392994,0.035273,0.248062,0.437534,0.061061,0,0.047354
818770008,0.489362,1.0,0.166667,0.333333,0.206112,0.343266,0.214093,0.453636,0.043452,0.178295,1.000000,0.105105,0,0.116824
713982108,0.531915,0.6,0.166667,0.000000,0.059850,0.000000,0.098948,0.763615,0.076611,0.077519,0.628164,0.000000,0,0.439695
769911858,0.297872,0.4,0.666667,0.166667,0.056676,1.000000,0.022977,0.413600,0.036775,0.077519,0.628164,0.760761,0,0.230405
709106358,0.297872,0.8,0.166667,0.000000,0.099091,0.000000,0.136557,0.640271,0.017025,0.139535,0.673129,0.000000,0,0.058489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
772366833,0.510638,0.4,0.333333,0.500000,0.077536,0.735399,0.062266,0.206947,0.832647,0.829457,0.230749,0.462462,0,0.661398
710638233,0.319149,0.6,0.333333,0.500000,0.085819,0.868494,0.060499,0.236679,0.459219,0.457364,0.183899,0.511512,1,0.630653
716506083,0.382979,0.8,0.500000,0.666667,0.120042,0.000000,0.156637,0.241095,0.544175,0.387597,0.220248,0.000000,1,0.890816
717406983,0.085106,0.6,0.500000,0.500000,0.116172,0.000000,0.152928,0.157492,0.438689,0.403101,0.194400,0.000000,1,0.679694
714337233,0.361702,1.0,0.333333,0.666667,0.270566,0.779102,0.244082,0.206947,0.544342,0.395349,0.174744,0.189189,1,0.874666

In [ ]:
scaled_num_df.to_csv("feature_extracted_data.csv")